<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549266362599-7kb4k094d1at195vrte35c7s33en8ajb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549266362599-7kb4k094d1at195vrte35c7s33en8ajb</string>
	<key>API_KEY</key>
	<string>AIzaSyCU4Lw5kElZckqoNS3_nkp10xiHdzkS-6o</string>
	<key>GCM_SENDER_ID</key>
	<string>549266362599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flightbooking12thproject</string>
	<key>PROJECT_ID</key>
	<string>flightapp-461a1</string>
	<key>STORAGE_BUCKET</key>
	<string>flightapp-461a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549266362599:ios:77dffb58d6f2d384fe5242</string>
</dict>
</plist>