<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946504050758-lmrsvhsk21f86bb33ollssr2ukgrn897.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946504050758-lmrsvhsk21f86bb33ollssr2ukgrn897</string>
	<key>API_KEY</key>
	<string>AIzaSyAGXUqWnxhexKEu0pwrZYPPFdGEJ9_cC9M</string>
	<key>GCM_SENDER_ID</key>
	<string>946504050758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flightbooking12thproject</string>
	<key>PROJECT_ID</key>
	<string>thproject-8fa04</string>
	<key>STORAGE_BUCKET</key>
	<string>thproject-8fa04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946504050758:ios:266e6ffc9952954895c247</string>
</dict>
</plist>